body {
  background-color: rgb(54, 54, 54);
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.seat {
  font-size: 50px;
  margin: 5px;
  color: lightgrey;
}
.title {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
.movieMain {
  margin-top: 15px;
}
#selectMovie {
  width: 200px;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.status {
  display: flex;
  flex-direction: row;
}
.seatStatusMain {
  margin-top: 35px;
}
.empty {
  color: lightgray;
  font-size: 35px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.selected {
  color: rgb(8, 228, 199);
  font-size: 35px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.full {
  color: red;
  font-size: 35px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.resultTextMain {
  margin-top: 10px;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.resultTextMain > p > span {
  color: rgb(8, 228, 199);
}
.buttonMain {
  margin-top: 10px;
}
#buyButton {
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgb(8, 228, 199);
  border: none;
}
#clearButton {
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgb(111, 8, 228);
  color: lightgray;
  border: none;
}
.screen {
  margin-top: 25px;
  width: 780px;
  height: 150px;
  background-color: rgb(30, 30, 31);
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.screenTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
